{% extends 'base.html.twig' %}

{% block title %}MyCollection index{% endblock %}

{% block body %}
    <h1>MyCollection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Is_active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_collection in my_collections %}
            <tr>
                <td>{{ my_collection.id }}</td>
                <td>{{ my_collection.name }}</td>
                <td>{{ my_collection.image }}</td>
                <td>{{ my_collection.description }}</td>
                <td>{{ my_collection.rating }}</td>
                <td>{{ my_collection.createdAt ? my_collection.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ my_collection.updatedAt ? my_collection.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ my_collection.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_back_my_collection_show', {'id': my_collection.id}) }}">show</a>
                    <a href="{{ path('app_back_my_collection_edit', {'id': my_collection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_my_collection_new') }}">Create new</a>
{% endblock %}
