{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Comment index</h1>
    <a href="{{ path('app_back_comment_new') }}"class="btn btn-success float-end">Create new</a>

    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Content</th>
                 <th>Object</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user.nickname }}</td>
                <td>{{ comment.content|slice(0, 50) }}...</td>
                <td>{{ comment.myobject.name }}</td>
                <td>
                    <a href="{{ path('app_back_comment_show', {'id': comment.id}) }}"class="btn btn-sm btn-info">show</a>
                    <a href="{{ path('app_back_comment_edit', {'id': comment.id}) }}"class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
